sudo: false

language: generic

branches:
  only:
    - master

addons:
  apt:
    packages:
      - g++-5
      - cmake
      - doxygen
      - libopenal-dev
      - libjpeg-dev
      - libudev-dev
      - libxrandr-dev
      - libfreetype6-dev
      - libvorbis-dev
      - libflac-dev
    sources: &sources
      - llvm-toolchain-precise-3.8
      - ubuntu-toolchain-r-test

compiler: g++-5
os: linux

install:
  - scripts/sfml.sh

env:
  - COMMAND="scripts/build.sh" COMPILER_NAME=gcc CXX=g++-5 CC=gcc-5
  - COMMAND="doxygen Doxyfile" COMPILER_NAME=gcc CXX=g++-5 CC=gcc-5 DEPLOY_DOC=1

script:
  - (eval "$COMMAND")

deploy:
  provider: pages
  skip_cleanup: true
  local_dir: doc/html
  github_token: $GH_REPO_TOKEN
  on:
    branch: master
    condition: "$DEPLOY_DOC=1"
